<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    
    <!--Controls go here-->
    <div class="form-group" [ngClass]="{ 'has-error': myForm.controls.name.invalid && myForm.controls.name.touched }">
        <input type="text" class="form-control" name="name" required placeholder="Name"
        formControlName="name">

        <span class="help-block" *ngIf="myForm.controls.name.invalid">Name is required (minimum 5 characters).</span>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': myForm.controls.vintage.invalid && myForm.controls.vintage.touched }">
        <input type="number" class="form-control" name="vintage" required placeholder="Vintage"
        formControlName="vintage">

        <span class="help-block" *ngIf="myForm.controls.vintage.invalid">Vintage is required.</span>
   
    </div>   

    <button type="submit">Save</button>
</form>